@import "../../../assets/styles/variables.scss";

.find-property-search-cont {
    margin-top: -66px;

    .search-items-cont {
        display: flex;
        align-items: center;
        padding: 16px;

        .search-btn {
            margin-left: auto;

            .button {
                padding-left: 5px;
                padding-right: 7px;
            }
        }
    }
}

.lookup-result-header {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.18px;
}

.tenant-details {
    .entry-list {
        margin-top: -15px;
        padding-bottom: 25px;

        .tenant-detail-entry {
            display: flex;
            align-items: flex-start;
            min-height: 60px;
            //margin-top: 15px;

            .icon-cont {
                width: 20%;
            }

            .tenant-detail-text {
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.5px;
            }
        }
    }
}

.address-part:not(:empty)::after {
    content: ", ";
}

.last-10-payments-list {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;

    .level {
        padding-top: 10px;
        margin-bottom: 14px;
    }

    table {
        width: 100%;
    }
}

.result-property-cards {
    padding-bottom: 40px;

    .property-card {
        .property-title {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.15px;
            margin-bottom: 15px;
        }

        .property-detail-column {
            display: flex;
            align-items: center;
            white-space: nowrap;

            .property-icon-cont {
                margin-right: 22px;
            }

            .detail-text {
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.5px;
            }
        }
    }
}
