@font-face {
    font-family: "OpenSans";
    src: url(./opensans/OpenSans-Regular.ttf);
    src: url(./opensans/OpenSans-Regular.ttf?#iefix) format("embedded-opentype"),
        url(./opensans/OpenSans-Regular.ttf) format("truetype");
}
