@import "../../assets/styles/variables.scss";

.operating-balances-summary {
    background-color: $aliceBlue;
    padding-bottom: 50px;
}

.price-summary {
    margin-bottom: 8px;

    .price {
        &::before {
            content: "£";
        }
    }
    .price-subtitle {
        margin-top: -10px;
    }
}
