@import "../../../../assets/styles/variables.scss";

.page-header {
    height: 136px;

    .page-header-contents {
        display: flex;
        align-items: center;

        .page-title {
            font-size: 34px;
            line-height: 36px;
            color: #000000;
        }
    }

    &:not(.no-bg-colour) {
        background-color: $aliceBlue;
    }
}
