@import "../../assets/styles/variables.scss";

.nav-head-cont {
    .hero-spacer {
        min-height: 12vh;
        padding: 16px;

        .level {
            margin: 10px;
        }
    }

    .hero,
    .hero-body {
        background-color: $backgrondDarkcolour;
    }
}

.page-header-nav-cont {
    padding: 0;
    padding-bottom: 15px;
    width: $page-sizing;

    a,
    span {
        font-size: 1.2rem;
        position: relative;
        color: white;
    }

    a {
        padding-bottom: 15px;
        margin-right: 24px;
        .nav-active-indicator {
            background-color: transparent;
        }

        &.nav-is-active .nav-active-indicator {
            position: absolute;
            width: 100%;
            background-color: white;
            bottom: -1px;
            left: 0;
            height: 4px;
        }
    }
}

.header-logo {
    margin-left: 15px;
    margin-top: 1px;
    max-height: 15px;
}

.header-icon-container {
    line-height: 0;
}
