@import "./variables.scss";
@import "./variablestyles.scss";
@import "../fonts/fonts.scss";

* {
    font-family: "OpenSans", sans-serif !important;
    letter-spacing: 0.15px;
}

html {
    min-height: 100vh;
}

html,
body {
    background: rgba(0, 0, 0, 0.04);
    height: 100%;
}

.page-comp-cont {
    padding-top: 30px;
    width: $page-sizing;
}
