@import "./variables.scss";
@import "../fonts/fonts.scss";

* {
    font-family: "OpenSans", sans-serif !important;
    letter-spacing: 0.15px;
}

.page-comp-cont {
    padding-top: 30px;
    width: $page-sizing;
}

.card {
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 22%), 0 0px 0 1px rgb(10 10 10 / 2%) !important;
    border-radius: 0 !important;
}
