$page-sizing: 896px;

// Colours
$successColour: #3d926a;
$errorColour: #d9533c;
$pendingColour: #1d70b8;
$pendingColourHover: lighten($pendingColour, 12%);
$aliceBlue: #e9f1f8;
$backgrondDarkcolour: #100c0c;
