.user-overlay {
    position: absolute;
    height: 100vh;

    &.is-background {
        width: 100vw;
        z-index: 10;
        background: #ffffff;
        opacity: 0.64;
    }

    &.user-details-container {
        z-index: 11;
        width: 304px;
        opacity: 1;
        padding: 20px;

        .close-overlay-container {
            margin-bottom: 80px;
        }
    }

    .user-details {
        .user-name {
            font-size: 20px;
            line-height: 24px;
        }

        .user-job-title {
            font-size: 14px;
            line-height: 20px;
        }
    }

    .user-overlay-divider {
        margin: 11px -20px;
        height: 1px;
        background: rgba(11, 12, 12, 0.08);
    }

    .user-overlay-buttons {
        .button {
            border: none;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.1px;
            box-shadow: none !important;
            padding: 0;
            margin-left: -9px;

            svg {
                margin-right: 20px;
            }
        }
    }
}
